#palace,
#app,
#result-board
#game-controllers {
    display: flex;
}

#app {
    flex-direction: column;
}


.wall {
    color: #fff;
    background-color: #444444;
}

table {
    border-collapse: collapse;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    gap: 0px;
    text-align: center;
}

.lights-on {
    background-color: yellow;
    opacity: 0.5;
}


.got-bulb {
    background-image: url("./img/bulb.png");
    background-repeat: no-repeat;
    background-position: center;
}

.bulb {
    z-index: 1000;
}

.result-board {
    background-color: lightgray;
    width: 350px;
    height: 50px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.result-board-win {
    color: green;
}

.result-board-lose {
    font-size: 1.5em;
    font-weight: bold;
    color: orangered;
}

